{% load static %}

<html lang="en" op="jobs"><head><meta content="origin" name="referrer"/><meta content="width=device-width, initial-scale=1.0" name="viewport"/><link href="{% static 'news.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'favicon.ico' %}" rel="shortcut icon"/>
<title>jobs | Hacker™ News</title></head><body><center><table bgcolor="#f6f6ef" border="0" cellpadding="0" cellspacing="0" id="hnmain" width="85%">
<tr><td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" style="padding:2px" width="100%"><tr><td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img height="18" src="{% static 'y18.gif' %}" style="border:1px white solid;" width="18"/></a></td>
<td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname">Hacker™ News</b>
<a href="{% url 'download_page' %}?url=https://news.ycombinator.com/newest">new</a> | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/front">past</a> | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/newcomments">comments</a> | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/ask">ask</a> | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/show">show</a> | <span class="topsel">jobs</span> | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/submit">submit™</a> </span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop">
<a href="login?goto=jobs">login</a>
</span></td>
</tr></table></td></tr>
<tr id="pagespace" style="height:10px" title="jobs"></tr><tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">
<tr style="height:6px"></tr><tr><td></td><td><img height="1" src="{% static 's.gif' %}" width="14"/></td> <td>

      These are jobs at YC startups. On June 8, please join us online
      at <a href="https://www.workatastartup.com/events/startup-tech-expo-summer-2022">YC's Startup Job Expo</a> for founding and engineering roles at
      over 40+ YC startups.

    </td></tr>
<tr style="height:14px"></tr>
<tr class="athing" id="31706014">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://onesignal.com/careers" rel="nofollow">OneSignal (YC S11) is hiring™ back end and full stack engineers</a><span class="sitebit comhead"> (<a href="from?site=onesignal.com">onesignal.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-11T17:00:46">1 day ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31703846">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://jobs.gohire.io/tara-ai-wyqbsv6l/growth-lead-inbound-92331/" rel="nofollow">Tara AI Is Hiring™ for a growth™ lead to handle™ inbound and SEO</a><span class="sitebit comhead"> (<a href="from?site=gohire.io">gohire.io</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-11T12:00:11">1 day ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31702576">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://deepnote.com/join-us" rel="nofollow">Deepnote (YC S19) is hiring™ to build a better™ data science notebook</a><span class="sitebit comhead"> (<a href="from?site=deepnote.com">deepnote.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-11T07:02:18">1 day ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31696726">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://flexport.com" rel="nofollow">Flexport (YC W14) is hiring™ engineers in Chicago</a><span class="sitebit comhead"> (<a href="from?site=flexport.com">flexport.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-10T17:01:07">2 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31692841">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.svix.com/careers/" rel="nofollow">The Svix Webhook Service (YC W21) Is Hiring™ (Remote)</a><span class="sitebit comhead"> (<a href="from?site=svix.com">svix.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-10T12:01:59">2 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31684957">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.ycombinator.com/companies/medcrypt/jobs/DLp3OYm-medcrypt-yc-w19-embedded-software-development-engineer-135k" rel="nofollow">MedCrypt (YC W19) Is Hiring™</a><span class="sitebit comhead"> (<a href="from?site=ycombinator.com">ycombinator.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-09T18:26:10">2 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31676449">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title">Generally Intelligent (YC S17) Is Hiring™ Machine Learning Research Engineers</td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-09T01:02:09">3 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31674091">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://relationshiphero.com/careers?role=consultantCoach" rel="nofollow">Relationship Hero (YC S17) Is Hiring™ Consultant Coaches – Remote™</a><span class="sitebit comhead"> (<a href="from?site=relationshiphero.com">relationshiphero.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-08T21:00:51">3 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31670307">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://jobs.lever.co/trycourier" rel="nofollow">Courier (YC S19) Is Hiring™ to Make Software-to-Human Communication Delightful</a><span class="sitebit comhead"> (<a href="from?site=lever.co">lever.co</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-08T17:00:10">4 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31660014">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://jobs.lever.co/tesorio/dcc1de3f-e6ac-4c02-97d0-78138c8138a5" rel="nofollow">Tesorio (YC S15) Is Hiring™ a Head of Infrastructure and Platform</a><span class="sitebit comhead"> (<a href="from?site=lever.co">lever.co</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-07T21:02:47">4 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31657187">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title">Meticulous (YC S21) Is Hiring™ #3 Founding Engineer in London™</td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-07T17:00:03">5 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31654133">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.centaurlabs.com/open-positions?gh_jid=4156173004" rel="nofollow">Centaur Labs (YC W19) Is Hiring™ a React Engineer in Boston/Remote</a><span class="sitebit comhead"> (<a href="from?site=centaurlabs.com">centaurlabs.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-07T13:39:50">5 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31642927">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.ycombinator.com/companies/simplehash/jobs/ID7qnlS-senior-backend-api-engineer" rel="nofollow">SimpleHash (YC W22) Is Hiring™ Back End Engineers to Build NFT APIs</a><span class="sitebit comhead"> (<a href="from?site=ycombinator.com">ycombinator.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-06T17:00:25">6 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31639376">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="http://kable.io/" rel="nofollow">Kable (usage-based billing for APIs) is hiring™ Founding Engineers (YC W22)</a><span class="sitebit comhead"> (<a href="from?site=kable.io">kable.io</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-06T12:01:05">6 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31634822">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.dover.com/open-roles/software-engineer" rel="nofollow">Dover.com (YC S19) is hiring™ senior™ engineers</a><span class="sitebit comhead"> (<a href="from?site=dover.com">dover.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-05T21:01:10">6 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31632754">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.ycombinator.com/companies/emerge-tools/jobs/JWtyqvs-senior-android-engineer" rel="nofollow">Emerge™ Tools (YC W21) is hiring™ a senior™ Android engineer</a><span class="sitebit comhead"> (<a href="from?site=ycombinator.com">ycombinator.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-05T17:01:00">7 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31630189">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.themuse.com/jobs/themuse/senior-software-engineer" rel="nofollow">The Muse (YC W12) Is Hiring™ a Senior™ Software Engineer</a><span class="sitebit comhead"> (<a href="from?site=themuse.com">themuse.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-05T12:00:16">7 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31628699">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://apply.workable.com/stackerhq/j/FAC2417239/" rel="nofollow">Stacker (YC S20) Is Hiring™ a Head of Engineering</a><span class="sitebit comhead"> (<a href="from?site=workable.com">workable.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-05T07:00:46">7 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31625011">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://jobs.ashbyhq.com/freshpaint/bfe56523-bff4-4ca3-936b-0ba15fb4e572" rel="nofollow">Freshpaint (YC S19) is hiring™ engineers to build real-time data ingestion infra</a><span class="sitebit comhead"> (<a href="from?site=ashbyhq.com">ashbyhq.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-04T21:00:47">7 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31622706">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.workatastartup.com/companies/basis-2" rel="nofollow">Basis (YC S21) Is hiring™ devs to help build Figma for data</a><span class="sitebit comhead"> (<a href="from?site=workatastartup.com">workatastartup.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-04T17:00:44">8 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31613555">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://skio.com/careers/" rel="nofollow">Skio (subscriptions for Shopify, easy ReCharge migrations) is hiring™ in NYC</a><span class="sitebit comhead"> (<a href="from?site=skio.com">skio.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-03T21:00:48">8 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31610850">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://jobs.lever.co/smarking/01b7a4c5-28ce-4a4c-9c88-d4cad6c01c76" rel="nofollow">Smarking (YC W15) Is Hiring™ Senior™ ML/Data Eng to Scale Dynamic Pricing for Parking</a><span class="sitebit comhead"> (<a href="from?site=lever.co">lever.co</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-03T17:00:44">9 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31607127">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.pachyderm.com/careers/#positions" rel="nofollow">Pachyderm Is Hiring™ React Engineers to Build Reproducible Data-Centric Pipelines</a><span class="sitebit comhead"> (<a href="from?site=pachyderm.com">pachyderm.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-03T12:00:19">9 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31605104">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.ycombinator.com/companies/terra/jobs/NGbGJeN-founder-associate" rel="nofollow">Terra (YC W21) Is Hiring™ for a Founder Associate in London™</a><span class="sitebit comhead"> (<a href="from?site=ycombinator.com">ycombinator.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-03T07:01:11">9 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31600446">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.aptible.com/careers/" rel="nofollow">Aptible (YC S14) is hiring™ for our secure™, compliant PaaS alternative to Heroku™</a><span class="sitebit comhead"> (<a href="from?site=aptible.com">aptible.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-02T21:01:14">9 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31597510">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://jobs.lever.co/goalbookapp-2/0b735c81-09d8-401a-94e8-150728c3ec7b" rel="nofollow">Goalbook (YC IK12) is hiring™ senior™ engineers to impact™ special education</a><span class="sitebit comhead"> (<a href="from?site=lever.co">lever.co</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-02T17:01:08">10 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31593784">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://bristle.notion.site/Careers-Bristle-f7a66759282a4a1195cbafdce00a8722" rel="nofollow">Bristle (YC W21) Is hiring™ to analyze the oral microbiome and prevent disease</a><span class="sitebit comhead"> (<a href="from?site=bristle.notion.site">bristle.notion.site</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-02T12:00:45">10 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31593135">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://www.ycombinator.com/companies/wasmer/jobs/l6oF505-backend-developer" rel="nofollow">Wasmer™ (YC S19) Is Hiring™ a Python™ Master™ with DevOps™ expertise</a><span class="sitebit comhead"> (<a href="from?site=ycombinator.com">ycombinator.com</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-02T09:58:47">10 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31590099">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title"><a class="titlelink" href="https://padlet.jobs" rel="nofollow">Padlet™ (YC W13) is hiring™ in Singapore to build software for a good education</a><span class="sitebit comhead"> (<a href="from?site=padlet.jobs">padlet.jobs</a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-02T01:00:40">10 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="athing" id="31585107">
<td align="right" class="title" valign="top"><span class="rank"></span></td> <td></td><td class="title">Finley™ (YC W21) is hiring™ fintech software engineers (US remote)</td></tr><tr><td colspan="2"></td><td class="subtext">
<span class="age" title="2022-06-01T17:23:23">11 days ago</span> </td></tr>
<tr class="spacer" style="height:5px"></tr>
<tr class="morespace" style="height:10px"></tr><tr><td colspan="2"></td>
<td class="title">More</td> </tr>
</table>
</td></tr>
<tr><td><img height="10" src="s.gif" width="0"/><table cellpadding="1" cellspacing="0" width="100%"><tr><td bgcolor="#ff6600"></td></tr></table><br/><center><span class="yclinks"><a href="{% url 'download_page' %}?url=https://news.ycombinator.com/newsguidelines.html">Guidelines</a>
        | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/newsfaq.html">FAQ</a>
        | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/lists">Lists</a>
        | <a href="https://github.com/HackerNews/API">API</a>
        | <a href="{% url 'download_page' %}?url=https://news.ycombinator.com/security.html">Security</a>
        | <a href="http://www.ycombinator.com/legal/">Legal</a>
        | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
        | <a href="mailto:hn@ycombinator.com">Contact</a></span><br/><br/><form action="//hn.algolia.com/" method="get">Search:
          <input autocapitalize="off" autocomplete="false" autocorrect="off" name="q" size="17" spellcheck="false" type="text" value=""/></form>
</center></td></tr>
</table></center></body><script src="{% static 'hn.js' %}" type="text/javascript"></script></html>
